.App {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: .12em;
  word-spacing: .16em;
}

:root {
  --red-color: rgb(190, 0, 0);
}

p {
  padding-bottom: 2em;
}

li, p {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 3px solid black;
}

span {
  font-weight: bold;
  font-family: 'Montserrat Alternates', sans-serif;
}

h2 {
  font-size: 2rem;
}

h3 {
  color: var(--red-color);
  font-size: 1.5rem;
}

h3, h4, .time {
  text-shadow: 0px 1.5px 1px #36454F;
}

h5 {
  margin-top: -1rem;
}

h6 {
  opacity: 0;
  text-align: center;
}

li {
  list-style-position: inside;
  padding: 1rem;
}

li::marker {
  content: '▪️';
}

.pad {
  padding: 1rem;
}

button {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  background: rgba(250, 250, 250, .9);
  border: 3px solid black;
  margin: 1rem;
  padding: .5rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: ease-in-out .5s;
}

button:hover {
  transition: 1s;
  cursor: pointer;
  background: rgba(0, 0, 0, 1);
  color: white;
}

.nav-bar {
  position: sticky;
  z-index: 1;
  top: 0;
}

.project {
  border: 3px solid black;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.project:nth-child(even) {
  background-color: rgb(147, 147, 147);
}

.tech-icons {
  display: flex;
  flex-wrap: wrap;
}

.tech-icon {
  width: 5rem;
  padding: 1rem;
}

.tech-icon:hover + h6 {
  opacity: 1;
}

.page-logo {
  width: 10rem;
}

.contact {
  height: 100%;
  width: 20rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 5rem;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  text-align: center;
}

.main {
  margin-left: 20rem;
  padding: 0 1rem;
  animation-duration: 12s;
}

.side-profile-watercolor {
  position: absolute;
  transition: ease-in-out 2s;
}

.side-profile, .side-profile-watercolor {
  width: 10rem;
  height: 13rem;
  border: 3px solid white;
  margin: 0 5rem;
}

.side-profile-watercolor:hover {
  opacity: 0;
  transition: 2s;
}

/* .side-profile img {
  width: 10rem;
  height: auto;
  transition: 2s ease-in-out;
} */

/* .side-profile img:hover {
  filter: saturate(1.5);
  transform: scale(1.2);
  margin-top: 1rem;
} */

.hole {
  border: 1px solid white;
  width: 15rem;
}

/* .hole {
  border: 1px solid white;
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
  background-color: white;
  margin-left: 1rem;
  position: absolute;
}

.hole1 {
  margin-top: -3rem;
}

.hole2 {
  margin-top: 18rem;
} */

.contact-icon {
  width: 2rem;
}

.links {
  text-align: left;
  margin-left: 5rem;
}

.github {
  width: 3rem;
}

.git-link, .github {
  margin-left: -.5rem;
}

.speech:before {
  content: "";
  position: absolute;
  border-left: 1rem solid transparent;
  border-right: 1rem solid white;
  border-top: .5rem solid white;
  border-bottom: .5rem solid transparent;
  right: 1rem;
  bottom: -1rem;
}

.first {
      color: var(--red-color);
}

.big {
  font-size: 1.5rem;
}

.enter {
  width: 10rem;
  background: rgba(0, 0, 0, .8);
  padding: 2rem;
  color: white;
  position: fixed;
  z-index: 1;
}

.welcome-page {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.welcome-text {
  grid-row: 1 / span 1;
  grid-column: 1 / span 4;
  margin-top: 3rem;
  z-index: 1;
  text-align: center;
  margin-left: 2rem;
}

.intro {
  margin-top: 4rem;
  text-align: left;
}

.welcome-button {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  left: 10%;
  position: fixed;
  animation-delay: 1s;
}

.welcome-pic-watercolor {
  margin-left: 25rem;
  width: 30rem;
  position: fixed;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  transition: ease-in-out 2s;
}

.welcome-pic {
  margin-left: 20rem;
  width: 40rem;
  position: fixed;
  bottom: 0;
  z-index: -1;
}

.welcome-button:hover ~ .welcome-pic-watercolor {
  opacity: 1;
  transition: 2s;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(66, 66, 66);
}

@media only screen and (max-width: 700px) {
  p {
    font-size: 2.5vw;
  }

  .contact {
      height: 100%;
      width: 8rem;
      font-size: 1.5vw;
    }

  .main {
    margin-left: 8rem;
  }

  .name {
    font-size: 4.5vw;
  }

  .side-profile-watercolor {
    width: 7rem;
    transform: translateX(-4.7rem);
    height: auto;
  }

  .side-profile {
    width: 7rem;
    transform: translateX(-4.7rem);
    height: 9.3rem;
    transition: ease-in-out 2s;
    opacity: 0;
  }

.side-profile:hover {
    opacity: 1;
    transition: 2s;
  }

  .hole {
    width: 6rem;
  }

  .links {
    text-align: left;
    margin-left: .3rem;
  }

  li {
    margin-left: -2.5rem;
    padding: .3rem 0;
    font-size: 2.5vw;
  }

  .tech-icon {
    width: 4rem;
  }

  .nav-butt {
    font-size: 2vw;
    height: 3rem;
    margin: .3rem;
  }

  .welcome-pic {
    width: 20rem;
    right: -10%;
  }

  .welcome-pic-watercolor {
    width: 15.2rem;
    right: -3%;
  }

  .welcome-text {
    margin-top: 0;
    font-size: 1.5vw;
  }
}

@media only screen and (max-height: 600px) {
  .welcome-text {
      margin-top: 0;
      font-size: 1vw;
      text-align: left;
    }
      
  .welcome-button {
    left: 20%;
  }

  .side-profile-watercolor {
    width: 8rem;
    height: auto;
    margin: 0 0 0 .6rem;
  }
  
  .side-profile {
    width: 8rem;
    height: 10.6rem;
    margin: 0 0 0 .6rem;
  }

  .name {
    margin-top: -2rem;
    font-size: 2vw;
  }

  .hole {
    width: 0;
  }

  .links {
    font-size: 1.3vw;
    margin-left: .5rem;
  }

  .contact-grid {
    display: flex;
  }

  .welcome-pic {
    width: 15rem;
    right: 10%;
  }

  .welcome-pic-watercolor {
    width: 11.2rem;
    right: 13.5%;
  }
}