.App {
  font-family: 'Montserrat Alternates', sans-serif;
}

li, p {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 3px solid black;
}

span {
  font-weight: bold;
  font-family: 'Montserrat Alternates', sans-serif;
}

h3 {
  color: rgb(167, 0, 0);
  font-size: 1.5rem;
}

h3, h4 {
  text-shadow: 0px 1.5px 1px #36454F;
}

h5 {
  margin-top: -1rem;
}

h6 {
  opacity: 0;
  text-align: center;
}

li {
  list-style-position: inside;
  padding: 1rem;
}

li::marker {
  content: '▪️';
}

.pad {
  padding: 1rem;
}

button {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  background: rgba(250, 250, 250, .9);
  border: 3px solid black;
  margin: 1rem;
  padding: .5rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: ease-in-out .5s;
}

button:hover {
  transition: 1s;
  cursor: pointer;
  background: rgba(0, 0, 0, 1);
  color: white;
}

.nav-bar {
  position: sticky;
  z-index: 1;
  top: 0;
}

.project {
  border: 3px solid black;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.tech-icons {
  display: flex;
  flex-wrap: wrap;
}

.tech-icon {
  width: 5rem;
  padding: 1rem;
}

.tech-icon:hover + h6 {
  opacity: 1;
}

.page-logo {
  width: 10rem;
}

.contact {
  height: 100%;
  width: 20rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 5rem;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  text-align: center;
}

.main {
  margin-left: 20rem;
  padding: 0 1rem;
}

.side-profile {
  width: 10rem;
  border: 3px solid white;
  margin-bottom: 3rem;
}

.contact-icon {
  width: 2rem;
}

.links {
  text-align: left;
  margin-left: 5rem;
}

.github {
  width: 3rem;
  margin-left: -.5rem;
}

.git-link {
  margin-left: -.5rem;
}

.japan {
  font-weight: lighter;
}

.speech:before {
  content: "";
  position: absolute;
  border-left: 1rem solid transparent;
  border-right: 1rem solid white;
  border-top: .5rem solid white;
  border-bottom: .5rem solid transparent;
  right: 1rem;
  bottom: -1rem;
}

.first {
      color: rgb(167, 0, 0);
}

.big {
  font-size: 1.5rem;
}

.enter {
  width: 10rem;
  background: rgba(0, 0, 0, .8);
  padding: 2rem;
  color: white;
  position: fixed;
  z-index: 1;
}

.welcome-page {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.welcome-text {
  grid-row: 1 / span 1;
  grid-column: 1 / span 4;
  margin-top: 3rem;
  z-index: 1;
  text-align: center;
  margin-left: 2rem;
}

.welcome-button {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  left: 10%;
  position: fixed;
  animation-delay: 1s;
}

.welcome-pic {
  margin-left: 20rem;
  width: 40rem;
  position: fixed;
  bottom: 0;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(66, 66, 66);
}

@media only screen and (max-width: 700px) {
  .contact {
      height: 100%;
      width: 8rem;
      font-size: .65rem;
    }

  .main {
    margin-left: 8rem;
  }

  .side-profile {
    width: 7rem;
  }

  .links {
    text-align: left;
    margin-left: .3rem;
  }

  li {
    margin-left: -3rem;
  }

  .tech-icon {
    width: 4rem;
  }

  .nav-butt {
    font-size: .8rem;
    height: 3rem;
    margin: .3rem;
  }

  .welcome-pic {
    width: 20rem;
    right: -10%;
  }

  .welcome-text {
    margin-top: 0;
    font-size: .5rem;
  }
}

@media only screen and (max-height: 600px) {
  .welcome-text {
      margin-top: 0;
      font-size: .5rem;
      text-align: left;
    }
      
  .welcome-button {
    left: 20%;
  }

  .side-profile {
    width: 6rem;
    margin-left: .5rem;
  }

  .name {
    margin-top: -2rem;
    font-size: 2rem;
  }

  .links {
    font-size: .8rem;
    margin-left: .5rem;
  }

  .contact-grid {
    display: flex;
  }

  .welcome-pic {
    width: 15rem;
    right: 10%;
  }
}